[package]
name = "shell"
version = "0.1.0"
edition.workspace = true
authors = ["The prefix-dev/shell team <hi@prefix.dev>"]
description = "A cross-platform, bash compatible shell"
categories.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true
default-run = "shell"
publish = false

[[bin]]
name = "shell"
path = "src/main.rs"

[features]

[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.17", features = ["derive"] }
deno_task_shell = { path = "../deno_task_shell" }
futures = "0.3.30"
rustyline = "14.0.0"
tokio = "1.39.2"
uu_ls = "0.0.27"

[package.metadata.release]
# Dont publish the binary
release = false
